.container__comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__comment-section > h2 {
  align-self: flex-start;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.container__comment-section > p {
  max-width: 825px;
  font-family: "Roboto", sans-serif;
  line-height: 1.75em;
  text-align: justify;
  margin: 0.5rem 0 1.5rem 0;
}
