<div class="container__main-card">
  <header class="container__header">
    <h1 class="container__title">{{title}}</h1>
    <span class="container__author">by {{author}}</span>
    <p>{{hash}}</p>
  </header>
  <div class="container__image">
    <img src={{image825}} alt="main-card image">
  </div>
  <div class="container__text">
    <p>{{description}}</p>
  </div>
  <div class="container__social">
    <div class="container__comment">
      <a [routerLink]="['content','mainCard', id]">
        <span>{{comments.length}} comments</span>
        <lucide-icon name="MessageCircle" class="my-icon"></lucide-icon>
      </a>
    </div>
    <div class="container__favorit" (click)="toggleFavorite()">
      <lucide-icon name="Heart" class="my-icon"></lucide-icon>
    </div>
  </div>
  <button>read more</button>
</div>
