<div class="container__main-card">
  <header class="container__header">
    <button>
      <lucide-icon name="Heart" class="my-icon"></lucide-icon>
    </button>
    <h1 class="container__title">{{title}}</h1>
    <span class="container__author">by {{author}}</span>
    <p>{{hash}}</p>
  </header>
  <div class="container__image">
    <img src={{image825}} alt="main-card image">
  </div>
  <div class="container__text">
    <p>{{description}}</p>
  </div>
  <div class="container__comment">
    <lucide-icon name="MessageCircle" class="my-icon"></lucide-icon>
  </div>
  <button>read more</button>
</div>
