<div class="container__content">
  <div>
    <app-menu-bar></app-menu-bar>
  </div>
  <main>
    <header class="container__header">
      <h1 class="container__title">{{article?.title}}</h1>
      <span class="container__author">by {{article?.author}}</span>
      <p>{{hash}}</p>
    </header>
    <div class="container__image">
      <img src="{{article?.image825}}" alt="">
    </div>
    <section class="container__text">
      <p
      *ngFor="let paragraph of contentText"
      >{{paragraph}}</p>
    </section>
    <a [routerLink]="['']"><lucide-icon name="Undo2" class="my-icon"></lucide-icon></a>
    <h2>Comments</h2>
    <section class="container__comments">
      <app-comment-section
      *ngFor="let comment of comments"
      [comment]="comment.content"
      [author]="comment.author"
      ></app-comment-section>
    </section>
    <section>
      <app-text-area></app-text-area>
    </section>
  </main>
</div>
