<header>
  <app-menu-bar></app-menu-bar>
</header>
<main>
  <section>
    <h1>{{article?.title}}</h1>
    <span>by {{article?.author}}</span>
    <span>{{hash}}</span>
    <div class="conteiner__image">
      <img src="{{article?.image825}}" alt="">
    </div>
  </section>
  <a [routerLink]="['']"><< voltar</a>
  <section class="container__comments">
    <p
    *ngFor="let paragraph of contentText"
    >{{paragraph}}</p>
  </section>
</main>
<section class="container__comments">
  <app-comment-section
    *ngFor="let comment of comments"
    [comment]="comment.content"
    [author]="comment.author"
  ></app-comment-section>
</section>
