.container__articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

app-main-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

app-side-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}
