.container__articles {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

app-main-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

app-side-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side__article {
  margin-top: 6.25rem;
}

.side__article > ul > li {
  margin-left: 5rem;
}

hr {
  color: gray;
  margin-bottom: 2em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
