<div class="conteiner__menu-bar">
  <div class="container__contact">
    <div>
      <a href="mailto:silmarfnascimento@gmail.com">silmarfnascimento@gmail.com</a>
    </div>
    <ul class="container__social-media">
      <li *ngFor="let media of contacts; let i = index">
        <app-social-media-contact
          [media]="media.split(' - ')[0]"
          [link]="media.split(' - ')[1]"
        >
        </app-social-media-contact>
      </li>
    </ul>
  </div>
  <div class="container__title">
    <h1>title</h1>
  </div>
</div>
